cassandra-driver
confluent_kafka
numpy 
orjson 
requests 
flask
gunicorn
boto3
redis
requests_toolbelt 
pytz 
pymysql 
jaeger-client  
cryptography 
flask-openapi3
flask-swagger-ui
python-prtree
typing
prometheus_client
opentelemetry-api
opentelemetry-sdk
opentracing~=2.4.0
gunicorn
couchdb
mlflow
scikit-learn
human-learn